{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_message/manage

    Example context (json):
    {
        "items": {
            "id": "ID of list item",
            "title": "Title of book or article",
            "url": "URL of book or article",
            "author": "Author of book or article",
            "notes": "User notes for book or article",
            "public": "1 if public 0 if private"
        },
        "editurl": "URL of plugin page where id is appended in params",
    }
}}
<h2>Reading list</h2>
{{#items}}
    <div class="card mt-2 mb-2">
        <div class="card-body">
            <h4>{{title}}</h4>

            {{#public}}
                <p class="badge badge-success">Public List Item</p>
            {{/public}}
            {{^public}}
                <p class="badge badge-primary">Private List Item</p>
            {{/public}}

            <p>{{author}}</p>
            <a href="{{url}}" target="__blank" rel="noreferrer">{{url}}</a>
            <p class="mb-5">{{notes}}</p>
            <input type="button" class="btn btn-primary" value="Edit" onClick="location.href='{{editurl}}?itemid={{id}}'">
            <input type="button" class="local_reading_listid{{id}} btn btn-danger local_reading_list_delete_button" value="Delete">
        </div>
    </div>
{{/items}}